
$night: #011502;
$dark-green: #01200F;
$cambridge-blue: #9EC5AB;
$myrtle-green: #32746D;
$midnight-green: #104F55;

$tufts-blue: #3C91E6;


@font-face {
    font-family: 'Raleway';
    src: url(../assets/Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'RalewayItalic';
    src: url(../assets/Fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

$defaultfont: 'Raleway';
$defaultfontitalic: 'RalewayItalic';


body{
    box-sizing: border-box;
    background-color: whitesmoke;
}

*{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    font-family: $defaultfont;
    flex-wrap: wrap;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
    box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
    margin-block-end: 2rem;
    nav{
        padding: 1.5rem;
        
        h1{
            color: $tufts-blue;
            background-color: whitesmoke;
            font-weight: 300;
            letter-spacing: .3rem;
            word-spacing: 1rem;
            font-size: clamp(16px, 10vw, 40px);
        }
    }
}

.site-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: 2.5rem;
    font-family: $defaultfont;

    #description-text{
        width: clamp(30rem, 100vw, 40rem);
        text-align: center;
    }
}

.content{
    font-family: $defaultfont;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    background-color: whitesmoke;
    .card{
        
        width: 25rem;
        .forms{
            margin: 1.75rem;
            height: 35rem;
            border-radius: .7rem;
            background-color: white;
            padding: .3rem;
            padding-inline: .4rem;
            padding-block-end: 1rem;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
            -moz-box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
            box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
            .cardflip{
                height: 1rem;
                width: auto;
                border-radius: .7rem;
            }
            #formtitle{
                display: inline;
                padding-left: 15%;
            }
            .legend{
                text-align: center;
            }
            .label{
    
            }
        }
    }

}