
$night: #011502;
$dark-green: #01200F;
$cambridge-blue: #9EC5AB;
$myrtle-green: #32746D;
$midnight-green: #104F55;

$tufts-blue: #3C91E6;


@font-face {
    font-family: 'Raleway';
    src: url(../assets/Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'RalewayItalic';
    src: url(../assets/Fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

$defaultfont: 'Raleway';
$defaultfontitalic: 'RalewayItalic';



body{
    box-sizing: border-box;
    background-color: whitesmoke;
    
}

*{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    font-family: $defaultfont;
    flex-wrap: wrap;
    background-color: whitesmoke;
    
    // -webkit-box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
    // -moz-box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
    margin-block-end: -.5rem;
    // box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
    
    nav{
        padding: 1.5rem;
        
        h1{
            color: $tufts-blue;
            background-color: whitesmoke;
            font-weight: 500;
            letter-spacing: .3rem;
            word-spacing: 1rem;
            font-size: clamp(16px, 10vw, 40px);
        }
    }
}
.borders{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 5rem;
    
    .border{
        border: .5px solid $tufts-blue;
        margin: .2rem;
    }
    #border1{
        width: 95vw;
    }
    #border2{
        width: 65vw;
        
    }
    #border3{
        width: 35vw;
    }
}
.site-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: 2.5rem;
    font-family: $defaultfont;
    margin-block-end: 5rem;
    #description-text{
        width: clamp(30rem, 100vw, 40rem);
        text-align: center;
    }
}

.content{
    background-image: url(../assets/images/tttwinkle\ \(1\).svg);
    background-size: cover;
    background-position: center;
    font-family: $defaultfont;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    background-color: whitesmoke;
    .card{
        
        width: 25rem;
        .forms{
            margin: 1.75rem;
            height: 35rem;
            border-radius: .7rem;
            background-color: white;
            padding: .3rem;
            padding-inline: .4rem;
            padding-block-end: 1rem;
            border: 2px solid $tufts-blue;

            // -webkit-box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
            // -moz-box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
            // box-shadow: 0px 0px 20px 0px rgba(16,79,85,1);
            .cardflip{
                height: 1rem;
                width: auto;
                border-radius: .7rem;
            }
            .formdescription{
                margin-block: 3rem;
                margin-inline: 1rem;
            }
            #deliveryDetails{
                margin-block-end: .9rem;
            }
            #basicSubmit{
                width: 50%;
                margin-inline-start: 25%;
                height: 1.75rem;
                border-radius: .4rem;
                border: solid 1px white;
                color: whitesmoke;
                letter-spacing: .3rem;
                background-color: $tufts-blue;
                
            }
            #basicSubmit:hover{
                color: $tufts-blue;
                background-color: #eef0f0;
                border: 1px solid $tufts-blue;
            }
            .basicform{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                color: $tufts-blue;
                border: solid 2px $tufts-blue;
                margin-block: 2rem;
                border-radius: .4rem;

                .inputContainer{
                    display: flex;
                    justify-content: space-between;
                }
            }
            #surveyform{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                color: $tufts-blue;
                border: solid 2px $tufts-blue;
                margin-block: .9rem;
                padding-block-end: 1.25rem;
                border-radius: .4rem;
                .answers{
                    color: $night;
                }
            }
            #surveySubmit{
                width: 50%;
                margin-inline-start: 25%;
                height: 1.75rem;
                border-radius: .4rem;
                border: solid 1px white;
                color: whitesmoke;
                letter-spacing: .3rem;
                background-color: $tufts-blue;
                
            }
            #surveySubmit:hover{
                color: $tufts-blue;
                background-color: #eef0f0;
                border: 1px solid $tufts-blue;
            }
            #formtitle{
                display: inline;
                // color: $tufts-blue;
                padding-left: 20%;
                font-weight: 700;
                letter-spacing: .3rem;
                font-size: 1.3rem;
            }
            .legend{
                text-align: center;

            }
            legend{
                color: $night;

            }
        }
    }
    
}